<button class="btn btn-warning btn-sm ml-2" [routerLink]="'/feed'">Voltar</button>
<div class="container mt-5 d-flex justify-content-center">
  <h5>Registrar café</h5>
</div>
<div class="container mt-3 d-flex justify-content-center">
  <form>
    <div class="form-group">
      <div class="forms-inline">
      </div>
    </div>
    <button (click)="onSubmit()" class="btn btn-primary btn-lg">Novo café</button>
  </form>
</div>
