<!-- As a link -->
<nav class="navbar navbar-light justify-content-center">
  <a class="navbar-brand" href="#">Has Coffee</a>
  <a class="help">Ajuda</a>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <p>Copyright &copy; 2020 - Projeto Integrador</p>
</div>
