body {
  font-family: Impact, Haettenschweiler, 'Andale Mono', sans-serif;
}

.menu > ul > li {
  display: inline-block;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .8rem;
}
