<router-outlet></router-outlet>
<div *ngIf="!redirectToConnection()" class="container justify-content-center mt-5">
  <h1>Bem vindos.</h1>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>
        Apelido
      </label>
      <input type="text" class="form-control" formControlName="apelido" placeholder="digite seu nome ou apelido...">
    </div>
    <div class="form-group">
      <label>
        Termo
      </label>
      <!-- <input type="text" class="form-control" formControlName="termo"> -->
      <select class="form-control" formControlName="termo">
        <option *ngFor="let termo of termos; let i = index;">
          {{ termo }}
        </option>
      </select>
    </div>

    <div class="button-submit d-flex justify-content-center mt-4">
      <button class="btn btn-danger mr-2 col-sm-6">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success ml-2 col-sm-6">
        Conectar
      </button>
    </div>
  </form>
</div>
<div *ngIf="redirectToConnection()" class="container d-flex justify-content-center margin-t">
  <button [routerLink]="'/feed'" class="btn btn-primary btn-lg">Entrar</button>
</div>

