.badge {
  position: absolute;
  top: 70px;
  right: 10px;
}

.cups {
  font-size: 50px;
  font-weight: bolder;
  color: rgb(153, 153, 153);
  clear: both;
}

small {
  font-size: small;
}

.qtde-atual {
  color: #28a745 !important;
}
