<div class="container">
  <div class="card mb-3" *ngFor="let coffee of allCoffees; let i=index;">
    <div class="card-header d-flex justify-content-center">
      <h5 style="color: black">Café!</h5>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-success">Disponível</span>
      <span class="cups d-flex flex-row justify-content-center mb-3">
        <p class="qtde-atual">{{ coffee.qtde_atual }}/</p>
        <p>10 <small>qtde total</small></p>
      </span>
      <small style="color: #999999">Feito por: {{ coffee.apelido }}</small><br>
    <button href="#" (click)="getCup(coffee.id_cafe)" type="button" class="btn btn-outline-dark float-right">Pegar copo</button>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5">
  <div class="btn btn-primary btn-lg" [routerLink]="'/register-coffee'">Adicionar Café</div>
</div>
